model_training_report.md
results_baseline_model_old.md
results_baseline_model.md
results_fintune_model_old.md
results_fintune_model.md
train_data/*
inference_data/
pretrain_models/*
output/*
inference/*
